.footer{
   margin-top: 100px;
   width: 100%;
   padding: 70px 15%;
   background-color: var(--heading-color);
   /* color: #fff; */
   display: flex;
   text-align: justify;
}

.footer div {
text-align: center;

}
.footer-text2{
   flex-grow: 2;
}
.footer h3{
   font-weight: 700;
   font-size: 30px;
   margin-top: 30px;
   letter-spacing: 1px;
   }

   .footer p{
      font-weight: 300;
      font-size: 17px;
      letter-spacing: 1px;
      }
.footer  div h3{
font-weight: 300;
margin-bottom: 10px;
letter-spacing: 1px;
}
.icon-wrapper  {
  margin-top: 30px;
}
.icon-wrapper i {
  margin: 10px;
  cursor: pointer;
  font-size: 40px;
 
}
.copyrite{
   background-color: rgb(238, 230, 155);
   padding: 20px;
}
@media screen and (max-width: 650px) {
   .footer{
      flex-direction: column;
      margin-top: 150px;
   width: 100%;
   padding: 100px 15%;
   /* color: #fff; */
   text-align: justify;
   }
   .footer h3{
      font-weight: 700;
      font-size: 30px;
      margin-top: 30px;
      /* margin-bottom: 30px; */
      letter-spacing: 1px;
      }
}