*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(247, 250, 252); 
  color: black; 
}
.container3{
    overflow: hidden;
}
.container2{
    max-width: 100%;
    /* margin-right: auto; */
    /* margin-left: auto; */
    padding: 2rem;
    overflow: hidden;
    justify-content: center;
}
.container4{
    overflow: hidden;
    padding: 15px;
    margin-top: 5px;
}
h2{
    text-align: center;
}

:root{
    --heading-color:rgb(238, 229, 176);
   --primary-color:rgb(21, 49, 90);
   --subheading-color:rgb(83, 78, 99);
    --bg-gradient:linear-gradient(
    90deg,
    rgb(238, 229, 176)27%,
    rgb(166, 161, 248) 85%
    );
     --font-family: 'Outfit', sans-serif;
}
h1{
    color: var(--subheading-color)
}

/* h1, p, button  {
    background-color: var(--heading-color);
    border-radius: 10px;
} */
.btn{
    background-color: var(--primary-color);
    color: var(--heading-color);
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    padding: 4px;
    margin: 10px;

    
    
}
/* h1, p, .btn{
    background-color: var(--heading-color);
} */

p{
    font-weight: 500;
    color: #202020;

}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;800;900&display=swap');